@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $black;
  background: $white;
  
}
.html__flexbox {
  color: black;
  background: darkviolet;
  border: 1px solid red;
}
.body__flexbox {
  color: black;
  background: darkviolet;
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex__item {
  background: yellow;
  color: black;
  border: 3px solid white;
  text-align: center;
  width: 400px;
  height: 400px;
  padding: 16px;
}

.chb {
  padding: 1em;
}

.label{
  color: red;
}

.divCheckbox{
    width: 100%;
}

.checkboxLabel{
    color: #394e69;
    font-size: 14px;
    width: 80%;
    height: 100px;
    text-align: left;
}    
.checkboxActive {
    position: relative;
    color: darkblue;
    border: #bbbbbb 1px solid;
    background-color: yellow;
    font-size: 14px;
    width: 51px;
    z-index: 1;
}
.checkboxDeactive {
    background-color: lightsteelblue;
    border: #009688 1px solid;
    font-size: 12px;
    color: green;
    width: 44px;
    z-index: -1;
    }

.checkboxLeft {
  border-radius: 50%;
  padding: 1em;
    }

.checkboxRight {
    margin-left: -1em;
    border-radius: 50%;
    padding: 1em;
    }

    .hcbx {
      display: none;
      }