@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $black;
  background: $white;
  
}
.html__flexbox {
  color: black;
  background: darkviolet;
  border: 1px solid red;
}
.body__flexbox {
  color: black;
  background: darkviolet;
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex__item{
  background: yellow;
  color: black;
  border: 3px solid white;
  text-align: center;
  width: 400px;
  height: 400px;
  padding: 16px;
}