@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $black;
  background: $white;
}
.body__flexbox {
  color: black;
  background: darkviolet;
}
.flex{
    display: flex;
}

.flex__item{
  background: yellow;
  color: black;
  border: 1px solid red;
 padding: 16px;
}